<div class="card mb-3 cpointer" style="background-color: rgba(0,0,0,0.50);" (click)="isOpen = !isOpen">
    <div class="card-header">
        <div class="row">
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
            </div>
            <div class="col">
                <h5 style="color: white;">{{ productData.product_name }}</h5>
            </div>
            <div class="col-auto">
                <h5 style="color: white;">{{productData.list_price| currency }}</h5>
            </div>
        </div>
    </div>
    <div *ngIf="isOpen" class="card-body">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p style="color: white;">Descripción: {{productData.product_description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p style="color: white;">Estado: {{productData.product_status}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success me-2" (click)="edit.emit(productData);">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>