<div class="card mb-3 cpointer" style="background-color: rgba(0,0,0,0.50);" (click)="isOpen = !isOpen">
    <div class="card-header">
        <div class="row">
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
            </div>
            <div class="col">
                <h5 style="color: white;">Orden #{{order_data.order_id}} ({{order_data.customer_name}})</h5>
            </div>
            <div class="col-auto">
                <h5 style="color: white;">{{order_data.order_total | currency}}</h5>
            </div>
        </div>
    </div>
    <div *ngIf="isOpen" class="card-body">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p style="color: white;">Fecha: {{order_data.order_date}}</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p style="color: white;">Modo: {{order_data.order_mode}}</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p style="color: white;">Estado: {{order_data.order_status}}</p>
            </div>
        </div>
        <br>
        <div style="color: white;">
            Productos:
            <div *ngFor="let item of order_data.items">
                {{item.line_item_id}} - {{item.product_name}}: {{item.quantity}} a {{item.unit_price | currency}}
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success me-2" (click)="edit.emit(order_data);">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>